@import '~@angular/material/theming';//notice that the file imported is also different
@include mat-core();

@mixin app-app-component-theme($theme) {

  mat-sidenav-container {
    mat-toolbar {
      button {
        &.active {
          color: #fff;
          background-color: #03a9f4;
        }
      }

      .link {
        color: #03a9f4;
      }
    }

    mat-sidenav {
      .mat-list-item {
        &.active {
          color: #fff;
          background-color: #03a9f4 !important;

          &:hover {
            background-color: #0288d1!important;
          }
        }
      }
    }

    .footer {
      color: #7986cb;
      background-color: #1a237e;

      .links,
      .signature {
        a {
          color: #7986cb;
          &:hover {
            color: #03a9f4;
          }
        }
      }
    }
  }

  .error-notification-overlay {
    color:#fff;
    background-color:#d81b60
  }

  .info-notification-overlay {
    color:#fff;
    background-color:#03a9f4
  }

  .success-notification-overlay{
    color:rgba(0,0,0,.87);
    background-color:#66bb6a
  }
  
  .warning-notification-overlay{
    color:rgba(0,0,0,.87);
    background-color:#ffca28
  }

}
