<!-- HEADER -->
<mat-toolbar class="toolbar-header" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Nabthat Task</span>
</mat-toolbar>



<mat-sidenav-container class="site-wrapper" [hasBackdrop]="true">

  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['dashboard']" routerLinkActive="mat-list-single-selected-option">
        <mat-icon matListIcon>cottage</mat-icon>
        Dashboard
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['vehicles']" routerLinkActive="mat-list-single-selected-option">
        <mat-icon matListIcon>directions_car</mat-icon>
        Vehicles
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="site-content">
      <router-outlet #o="outlet"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- FOOTER -->
<mat-toolbar class="toolbar-footer">Nabthat</mat-toolbar>