@import '~@angular/material/theming';//notice that the file imported is also different
@include mat-core();

@mixin app-styles-reset-theme($theme) {

  a {
    color: #0d6efd;

    &:hover {
      color: #0a58ca;
    }
  }

  code {
    color: #03a9f4;
    background-color: #0288d1;
  }

  p {
    a {
      color: #03a9f4;

      &:hover {
        color: #0288d1;
      }
    }
  }
}
