<h1 mat-dialog-title>Vehicle</h1>
<div mat-dialog-content>
  <mat-list>

    <mat-list-item>
      <mat-icon mat-list-icon>pin</mat-icon>
      <p matLine>VIN</p>
      <p matLine>{{data.vin}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>tag</mat-icon>
      <p matLine>Stock</p>
      <p matLine>{{data.stock}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>calendar_today</mat-icon>
      <p matLine>Year</p>
      <p matLine>{{data.year}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>directions_car</mat-icon>
      <p matLine>Make</p>
      <p matLine>{{data.make}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>directions_car</mat-icon>
      <p matLine>Model</p>
      <p matLine>{{data.model}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>directions_car</mat-icon>
      <p matLine>Trim</p>
      <p matLine>{{data.trim}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>request_quote</mat-icon>
      <p matLine>Price</p>
      <p matLine>{{data.price}}</p>
    </mat-list-item>

  </mat-list>
</div>
