<div class="mat-elevation-z8">
  <h3>Vehicle</h3>
  <div>
    <span>VIN: </span>
    <span>{{vehicle.vin}}</span>
  </div>
  <div>
    <span>Stock: </span>
    <span>{{vehicle.stock}}</span>
  </div>
  <div>
    <span>Year: </span>
    <span>{{vehicle.year}}</span>
  </div>
  <div>
    <span>Make: </span>
    <span>{{vehicle.make}}</span>
  </div>
  <div>
    <span>Model: </span>
    <span>{{vehicle.model}}</span>
  </div>
  <div>
    <span>Trim: </span>
    <span>{{vehicle.trim}}</span>
  </div>
  <div>
    <span>PRICE: </span>
    <span>{{vehicle.price}}</span>
  </div>
</div>
