<h1>Vehicle</h1>
<div>
  <mat-list>

    <mat-list-item>
      <mat-icon mat-list-icon>pin</mat-icon>
      <p matLine>VIN</p>
      <p matLine>{{vehicle.vin}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>tag</mat-icon>
      <p matLine>Stock</p>
      <p matLine>{{vehicle.stock}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>calendar_today</mat-icon>
      <p matLine>Year</p>
      <p matLine>{{vehicle.year}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>directions_car</mat-icon>
      <p matLine>Make</p>
      <p matLine>{{vehicle.make}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>directions_car</mat-icon>
      <p matLine>Model</p>
      <p matLine>{{vehicle.model}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>directions_car</mat-icon>
      <p matLine>Trim</p>
      <p matLine>{{vehicle.trim}}</p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>request_quote</mat-icon>
      <p matLine>Price</p>
      <p matLine>{{vehicle.price}}</p>
    </mat-list-item>

  </mat-list>
</div>
